* {
    margin: 0;
    padding: 0;
}
/*위에 딱 붙게 하기*/

ul, li {
    list-style: none;
}
/*리스트 표시 없애기*/

a {
    text-decoration: none;
    color: inherit;
}
/*링크 파란색 표시 없애기*/

.menu_wrap .line1 {
    font-size: 0;
}
/*메뉴창 잇기*/

.menu_wrap .line1 > li {
    display: inline-block;
    width: 100px;
    vertical-align: top;
    background: #f8e4ae;
    text-align: center;
    font-size: 16px;
}
/*큰 메뉴 디자인 설정*/

.menu_wrap .line1 > li:hover > a {
    background: #f8d883;
    color: #fff;
}
/*큰 메뉴에 커서 올렸을 때 색 변하기*/

.menu_wrap .line1 > li:hover > .line2 {
    display: block;
}
/*큰 메뉴에 커서 올렸을 때 작은 메뉴 보이기*/

.menu_wrap .line1 > li > a {
    display: block;
    padding: 10px 0;
}
/*큰 메뉴 블럭 크기 키우기*/

.menu_wrap .line2 {
    display: none;
    color: #f7bd60;
    background: #fff1c6;
}
/*작은 메뉴는 원래 보이지 않게 하기 & 작은메뉴 블럭 색 설정*/

.menu_wrap .line2 a {
    display: block;
    padding: 10px 0;
}
/*작은 메뉴 블럭 크기 키우기*/

.menu_wrap .line2 a:hover {
    text-decoration: underline;
    color: #fc9d37;
}
/*작은 메뉴 위에 커서 올리면 밑줄 긋기*/